@import 'ver';
@import 'reset';
@import 'typo';

html{
    font-size: 16px;
}
body{
    position: relative;
    
    line-height: 1.7;
    color: $textcolor;
    overflow-x: hidden;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}